LVGL_Test/build/.bin_timestamp
LVGL_Test/build/.ninja_deps
LVGL_Test/build/.ninja_log
LVGL_Test/build/build.ninja
LVGL_Test/build/CMakeCache.txt
LVGL_Test/build/compile_commands.json
LVGL_Test/build/component_manager_run_counter.9124
LVGL_Test/build/component_manager_run_counter.15996
LVGL_Test/build/ldgen_libraries
LVGL_Test/build/ldgen_libraries.in
LVGL_Test/build/LVGLTest.bin
LVGL_Test/build/LVGLTest.elf
LVGL_Test/build/LVGLTest.map
LVGL_Test/build/project_description.json
LVGL_Test/build/bootloader/.bin_timestamp
LVGL_Test/build/bootloader/.ninja_deps
LVGL_Test/build/bootloader/.ninja_log
LVGL_Test/build/bootloader/bootloader.bin
LVGL_Test/build/bootloader/bootloader.elf
LVGL_Test/build/bootloader/esp-idf/esp_bootloader_format/libesp_bootloader_format.a
LVGL_Test/build/bootloader/esp-idf/esp_bootloader_format/CMakeFiles/__idf_esp_bootloader_format.dir/esp_bootloader_desc.c.obj
LVGL_Test/build/CMakeFiles/rules.ninja
LVGL_Test/build/CMakeFiles/TargetDirectories.txt
LVGL_Test/build/CMakeFiles/git-data/HEAD
LVGL_Test/build/CMakeFiles/git-data/head-ref
LVGL_Test/build/esp-idf/cmake_install.cmake
LVGL_Test/build/esp-idf/esp_app_format/libesp_app_format.a
LVGL_Test/build/esp-idf/esp_app_format/CMakeFiles/__idf_esp_app_format.dir/esp_app_desc.c.obj
LVGL_Test/build/esp-idf/esp_bootloader_format/libesp_bootloader_format.a
LVGL_Test/build/esp-idf/esp_bootloader_format/CMakeFiles/__idf_esp_bootloader_format.dir/esp_bootloader_desc.c.obj
LVGL_Test/build/esp-idf/lvgl_ui/cmake_install.cmake
LVGL_Test/build/esp-idf/lvgl_ui/liblvgl_ui.a
LVGL_Test/build/esp-idf/lvgl_ui/CMakeFiles/__idf_lvgl_ui.dir/ui_helpers.c.obj
LVGL_Test/build/esp-idf/lvgl_ui/CMakeFiles/__idf_lvgl_ui.dir/ui.c.obj
LVGL_Test/build/esp-idf/lvgl_ui/CMakeFiles/__idf_lvgl_ui.dir/components/ui_comp_hook.c.obj
LVGL_Test/build/esp-idf/lvgl_ui/CMakeFiles/__idf_lvgl_ui.dir/screens/ui_Screen1.c.obj
LVGL_Test/build/esp-idf/main/libmain.a
LVGL_Test/build/esp-idf/main/CMakeFiles/__idf_main.dir/main.c.obj
